{% extends "layout.twig" %}


{% block content %}


    <!--breadcrumb-->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="breadcrumb-title pe-3">Tables</div>
        <div class="ps-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Data Table</li>
                </ol>
            </nav>
        </div>
        <div class="ms-auto">
            <div class="btn-group">
                <button type="button" class="btn btn-primary"><i class="lni lni-circle-plus"></i>Добавить пользователя</button>
            </div>
        </div>
    </div>
    <!--end breadcrumb-->
    <h6 class="mb-0 text-uppercase">Список Пользователей</h6>
    <hr/>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table id="example" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                    <tr>
                        <th>Имя пользователя</th>
                        <th>Email</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <button type="button" class="btn btn-warning">
                                 <i class="lni lni-pencil"></i>
                            </button>
                            <button type="button" class="btn btn-secondary">
                                <i class="fadeIn animated bx bx-block"></i>
                            </button>
                            <button type="button" class="btn btn-danger">
                                <i class="lni lni-trash"></i>
                            </button>
                        </td>

                    </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Имя пользователя</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="/assets/backend/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="/assets/backend/plugins/datatable/js/dataTables.bootstrap5.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#example').DataTable();
            $('[data-bs-toggle="tooltip"]').tooltip();
        } );
    </script>

{% endblock %}