<div class="blog-comment-section section-top-gap-100">
    <div class="box-wrappper">
        <!-- Start Comment Wrapper -->
        <div class="comment-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="comment-area">
                            <h4 class="title">Comments (03)</h4>
                            <!-- Start Comment List Items -->
                            <ul class="comment-list-items">
                                <!-- Start Comment List Single Item -->
                                <li class="comment-list-single-item">
                                    <div class="comment-list-single-wrap">
                                        <div class="top">

                                            <div class="user-details">
                                                <div class="image">
                                                    <img src="/assets/frontend/images/user/user-1.jpg" alt="">
                                                </div>
                                                <div class="user-info">
                                                    <h5 class="name">Sara Alexander</h5>
                                                    <div class="user-info-details">
                                                        <span class="profession">Product Designer, USA </span>
                                                        <span class="time">35 minutes ago</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <button class="reply-btn"><i class="icofont-reply"></i> Reply</button>
                                        </div>
                                        <div class="bottom">
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form
                                                humour, or randomised words which don't look even slightly believable. If you are going to use a passage of orem psum
                                                to be sure there isn't anything embarrassing.</p>
                                        </div>
                                    </div>

                                    <!-- If Has Reply -->
                                    <ul class="has-reply">
                                        <!-- Start Comment List Single Item -->
                                        <li class="comment-list-single-item">
                                            <div class="comment-list-single-wrap">
                                                <div class="top">

                                                    <div class="user-details">
                                                        <div class="image">
                                                            <img src="/assets/frontend/images/user/user-2.jpg" alt="">
                                                        </div>
                                                        <div class="user-info">
                                                            <h5 class="name">Robert Morgan</h5>
                                                            <div class="user-info-details">
                                                                <span class="profession">Product Designer, USA </span>
                                                                <span class="time">22 minutes ago</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <button class="reply-btn"><i class="icofont-reply"></i> Reply</button>
                                                </div>
                                                <div class="bottom">
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form
                                                        humour, or randomised words which don't look even slightly believable. If you are going to use a passage of orem psum
                                                        to be sure there isn't anything embarrassing.</p>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- End Comment List Single Item -->
                                    </ul>
                                </li>
                                <!-- End Comment List Single Item -->
                                <!-- Start Comment List Single Item -->
                                <li class="comment-list-single-item">
                                    <div class="comment-list-single-wrap">
                                        <div class="top">

                                            <div class="user-details">
                                                <div class="image">
                                                    <img src="/assets/frontend/images/user/user-3.jpg" alt="">
                                                </div>
                                                <div class="user-info">
                                                    <h5 class="name">Rochelle Hunt</h5>
                                                    <div class="user-info-details">
                                                        <span class="profession">Product Designer, USA </span>
                                                        <span class="time">09 minutes ago</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <button class="reply-btn"><i class="icofont-reply"></i> Reply</button>
                                        </div>
                                        <div class="bottom">
                                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form
                                                humour, or randomised words which don't look even slightly believable. If you are going to use a passage of orem psum
                                                to be sure there isn't anything embarrassing.</p>
                                        </div>
                                    </div>
                                </li>
                                <!-- End Comment List Single Item -->
                            </ul>
                            <!-- End Comment List Items -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Comment Wrapper -->
    </div>
</div>