<div class="blog-feed-display-section mt-80 section-inner-bg section-inner-padding-80">
    <div class="box-wrapper">
        <!-- Start Section Warpper -->
        <div class="section-wrapper ">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 pos-relative d-flex flex-column flex-sm-row justify-content-between align-items-center">
                        <div class="section-content">
                            <h2 class="section-subtitle">You may also like</h2>
                        </div>

                        <!-- If we need navigation buttons -->
                        <div class="top-slider-buttons">
                            <div class="slider-button button-prev"><i class="icofont-long-arrow-left"></i></div>
                            <div class="slider-button button-next"><i class="icofont-long-arrow-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Section Warpper -->
        <!-- Start Article Feed Wrapper -->
        <div class="blog-feed-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Start Article Feed Slider -->
                        <div class="blog-feed-slider blog-feed-slider-style-2">
                            <!-- Slider main container -->
                            <div class="swiper-container">
                                <!-- Additional required wrapper -->
                                <div class="swiper-wrapper">
                                    <!-- Slides -->
                                    <!-- Start Article List Single Item -->
                                    <div class="blog-list-single-item swiper-slide">
                                        <a href="blog-details-full-width.html" class="image"><img src="/assets/frontend/images/blog/blog-list/blog-list-single-item-img-1.jpg" alt=""></a>
                                        <div class="content">
                                            <span class="author">By<a href="">Walter Houston</a></span>
                                            <h5 class="title"><a href="blog-details-full-width.html">All of these amazing features come at an affordable price!</a></h5>

                                            <div class="post-info">
                                                <span>03 April, 2021</span>
                                                <span>10 min read</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Article List Single Item -->
                                    <!-- Start Article List Single Item -->
                                    <div class="blog-list-single-item swiper-slide">
                                        <a href="blog-details-full-width.html" class="image"><img src="/assets/frontend/images/blog/blog-list/blog-list-single-item-img-2.jpg" alt=""></a>
                                        <div class="content">
                                            <span class="author">By<a href="">Patrick Bade</a></span>
                                            <h5 class="title"><a href="blog-details-full-width.html">With WooLentor's drag-and
                                                    drop interface for creating</a></h5>

                                            <div class="post-info">
                                                <span>05 April, 2021</span>
                                                <span>6 min read</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Article List Single Item -->
                                    <!-- Start Article List Single Item -->
                                    <div class="blog-list-single-item swiper-slide">
                                        <a href="blog-details-full-width.html" class="image"><img src="/assets/frontend/images/blog/blog-list/blog-list-single-item-img-3.jpg" alt=""></a>
                                        <div class="content">
                                            <span class="author">By<a href="">Janet Harbin</a></span>
                                            <h5 class="title"><a href="blog-details-full-width.html">Don't Waste Time! 6 Facts Until You Reach Your Portfolio</a></h5>

                                            <div class="post-info">
                                                <span>11 April, 2021</span>
                                                <span>13 min read</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Article List Single Item -->
                                    <!-- Start Article List Single Item -->
                                    <div class="blog-list-single-item swiper-slide">
                                        <a href="blog-details-full-width.html" class="image"><img src="/assets/frontend/images/blog/blog-list/blog-list-single-item-img-4.jpg" alt=""></a>
                                        <div class="content">
                                            <span class="author">By<a href="">	Jennifer Johnson</a></span>
                                            <h5 class="title"><a href="blog-details-full-width.html">Make your store stand out
                                                    from the others by converting</a></h5>

                                            <div class="post-info">
                                                <span>12 April, 2021</span>
                                                <span>08 min read</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Article List Single Item -->
                                    <!-- Start Article List Single Item -->
                                    <div class="blog-list-single-item swiper-slide">
                                        <a href="blog-details-full-width.html" class="image"><img src="/assets/frontend/images/blog/blog-list/blog-list-single-item-img-5.jpg" alt=""></a>
                                        <div class="content">
                                            <span class="author">By<a href="">Phyllis Garcia</a></span>
                                            <h5 class="title"><a href="blog-details-full-width.html">These Secrets Tips Will Make Your Portfolio Look Amazing</a></h5>

                                            <div class="post-info">
                                                <span>17 April, 2021</span>
                                                <span>09 min read</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Article List Single Item -->
                                    <!-- Start Article List Single Item -->
                                    <div class="blog-list-single-item swiper-slide">
                                        <a href="blog-details-full-width.html" class="image"><img src="/assets/frontend/images/blog/blog-list/blog-list-single-item-img-6.jpg" alt=""></a>
                                        <div class="content">
                                            <span class="author">By<a href="">Mario Stitt</a></span>
                                            <h5 class="title"><a href="blog-details-full-width.html">Take Advantage Of Portfolio - Read These 6 Tips</a></h5>
                                            <div class="post-info">
                                                <span>21 April, 2021</span>
                                                <span>16 min read</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Article List Single Item -->
                                </div>
                            </div>
                        </div>
                        <!-- End Article Feed Slider -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Article Feed Wrapper -->
    </div>
</div>