<div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div>
            <img src="/assets/backend/images/logo.svg" class="logo-icon" alt="logo icon">
        </div>
        <div>
            <h4 class="logo-text">Админка</h4>
        </div>
        <div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i>
        </div>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
        <li>
            <a href="/admin" >
                <div class="parent-icon"><i class='bx bx-home-circle'></i>
                </div>
                <div class="menu-title">Статистика</div>
            </a>
        </li>
        <li class="menu-label">Контент</li>
        <li>
            <a href="/admin/articles" >
                <div class="parent-icon"><i class="lni lni-book"></i>
                </div>
                <div class="menu-title">Статьи</div>
            </a>
        </li>
        <li>
            <a href="/admin/categories">
                <div class="parent-icon"><i class="lni lni-menu"></i>
                </div>
                <div class="menu-title">Категории</div>
            </a>
        </li>
        <li>
            <a href="/admin/tags">
                <div class="parent-icon"><i class="lni lni-tag"></i>
                </div>
                <div class="menu-title">Тэги</div>
            </a>
        </li>
        <li class="menu-label">Сервис</li>
        <li>
            <a href="/admin/users">
                <div class="parent-icon"><i class="lni lni-users"></i>
                </div>
                <div class="menu-title">Пользователи</div>
            </a>
        </li>

        <li>
            <a href="user-profile.html">
                <div class="parent-icon"><i class="bx bx-user-circle"></i>
                </div>
                <div class="menu-title">User Profile</div>
            </a>
        </li>
            <a class="has-arrow" href="javascript:;">
                <div class="parent-icon"><i class="bx bx-map-alt"></i>
                </div>
                <div class="menu-title">Maps</div>
            </a>
            <ul>
                <li> <a href="map-google-maps.html"><i class="bx bx-right-arrow-alt"></i>Google Maps</a>
                </li>
                <li> <a href="map-vector-maps.html"><i class="bx bx-right-arrow-alt"></i>Vector Maps</a>
                </li>
            </ul>
        </li>


    </ul>
    <!--end navigation-->
</div>